# Ignore Gradle project-specific cache directory
.gradle/

**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf

.h2/

# Ignore Gradle build output directory
build/

# GitPod Time Tracing
time.txt
time-backend.txt