/*@import "reveal.js/css/reveal.css";*/
/*@import "reveal.js/css/theme/solarized.css";*/
/*@import "reveal.js/lib/css/github.css";*/
@import "fonts/google-fonts.css";

.reveal .slides,
.reveal .slides > section {
  padding-top: 0;
}

.reveal {
  font-family: "PT Sans", sans-serif;
}

.reveal h1 {
  font-family: "Lora", serif;
}

.reveal h2,
.reveal h3,
.reveal h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: rgb(127, 94, 56);
  text-transform: none !important;
}

.reveal h2.title {
  font-size: 3em;
}

.reveal em {
  font-family: "Lora", serif;
}

.right-img {
  margin-left: 10px !important;
  float: right;
  height: 500px;

  border: 0;
  box-shadow: 0 0 0 0;
}

.streich-kandidat:before {
  content: "STREICHEN? ";
}

.streich-kandidat {
  content: "STREICHEN? ";
  background-color: hotpink;
}

.todo:before {
  content: "TODO: ";
}

.todo {
  color: red !important;
}

section.todo {
  background-color: #d41a1a40;
}

code span.line-number {
  color: lightcoral;
}

.reveal pre {
  max-width: 1500px;
}

.reveal pre code {
  max-height: 1000px !important;
}

.reveal section img {
  border: 0;
  box-shadow: 0 0 0 0;
}

.reveal a {
  letter-spacing: 1.1;
}

/* 
 * Aufzaehlungen linksbuendig auf einer Slide.
 * 
 * Einschalten mit: <!-- .slide: class="left" -->
 */
.reveal section.left ul {
  width: 100%;
}

.reveal li {
  margin-bottom: 10px;
}

.reveal ul.small > li {
  font-size: 90%;
  margin-bottom: 10px;
}

.reveal ul.very-small > li {
  font-size: 80%;
  margin-bottom: 10px;
}

.reveal li > ul {
  margin-top: 10px;
  margin-bottom: 20px;
}

.reveal ul ul,
.reveal ul ul ul {
  list-style-type: circle;
}

/* Siehe auch config.js fuer no-icon! */
li.no-icon {
  list-style-type: none;
}

/* Siehe auch config.js fuer no-icon! */
li > pre.code-wrapper {
  margin: 5px;
  margin-bottom: 40px;
}

li > pre.code-wrapper > code {
  padding: 10px;
}

.reveal .xx-list > li {
  margin-bottom: 20px;
}

.reveal .bold-code code {
  font-weight: bold;
}

.reveal .img-fullsize {
  border: 0;
  box-shadow: 0 0 0 0;
  height: 650px;
}

/* "choice-of-horror": for choices where you can only lose all the time: 
   - show radio buttons selections when hovered/checked as 😱, when not hovered as "?" 
*/
.reveal .choice-of-horror label {
  display: block;
  margin-bottom: 15px;
}
.reveal .choice-of-horror input[type="radio"] {
  /* width: 2.5rem;
  height: 2.5rem; */
  opacity: 0;
  width: 0;
  height: 0;
}

.reveal .choice-of-horror input[type="radio"]:checked {
  opacity: 0;
  width: 0;
  height: 0;
}

.reveal .choice-of-horror input[type="radio"] + span::before {
  display: inline-block;
  content: "?";
  color: #fdf6e3;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 2px solid gray;
  margin-right: 15px;
  vertical-align: baseline;
}

.reveal .choice-of-horror input[type="radio"] + span:hover::before,
.reveal .choice-of-horror input[type="radio"]:checked + span::before {
  content: "😱";
  cursor: pointer;
}

/*rgb(196, 215, 240)*/

/* title slide with background image */

body.title {
  position: relative;
}

body.title:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("bg.png");
  background-color: rgba(212, 235, 233, 0.9);
}

body.title-content {
  position: relativ;
}

body.title b,
body.title .transparent-bg {
  background-color: rgba(189, 215, 238, 1);
  padding: 5px 10px;
}

body.title a.Link {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 4rem;
  padding: 0.5rem;
  background-color: rgba(189, 215, 238, 1);
}

.reveal-viewport.title .controls-arrow {
  color: red;
  font-size: 2rem;
}

.reveal-viewport.title .reveal .controls {
  bottom: 11em;
  right: 9em;
}

.reveal-viewport.title .reveal .controls .navigate-right.highlight {
  animation: bounce-right 1s 50 both ease-out;
}

.language-graphql .hljs-punctuation {
  color: #268bd2;
}

.language-graphql .hljs-string {
  color: #2aa198;
}

li.demo:before {
  content: "👨‍💻 ";
}

li.demo li.demo:before {
  content: none;
}

ul.note {
  display: block;
  text-align: center;
}

li.note {
  margin-top: 5px;
  font-weight: bold;
  list-style-type: none;
}

li.note:before {
  content: "👉 ";
}

body.exkurs {
  background-color: #e3f3ff;
}
